body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size:  70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}

header {
  background-image: url('../images/the-flatiron-building.png');
  background-size: cover;
  color: white;
}

.alternative {
  background-image: url('../images/the-flatiron-building.png');
}

footer {
  text-align: left;
  background-image: url('../images/the-flatiron-building.png');
}

footer p {
  font-size: 11px;
  color: white;
}
